<!DOCTYPE html>
<html lang="es">
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
</head>
<body>
{% include 'componentes/navbar.html' %}
<div class="container">
    {% block contenido %}

    {% endblock %}
</div>
<script src="https://kit.fontawesome.com/f89f8ae43b.js" crossorigin="anonymous"></script>
</body>
</html>