{% extends 'plantilla.html' %}
{% load crispy_forms_tags %}
{% block titulo %}Inciar sesión{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h1 class="display-4">
                Iniciar sesión
            </h1>
            <p class="mt-3 mb-3">
                ¿Aún no tienes una cuenta? <a href="{% url 'account_signup' %}">Crea una ahora</a>
            </p>
            {% crispy form %}
            <hr class="my-4">
            <div class="text-center">
                <h2 class="fs-3 mb-1 mt-1">O use una cuenta de terceros</h2>
                {% include "socialaccount/snippets/provider_list.html" %}
            </div>
        </div>
    </div>
{% endblock %}